{{#*inline "ld_json"}}
<script type="application/ld+json">
{
    "@context": "http://www.schema.org",
    "@type": "Event",
    "name": "C2C Contest",
    "url": "https://www.jrtapsell.co.uk/c2c-2017.html",
    "description": "Cyber security contest organised by Cambridge University and MIT, hosted at Trinity College",
    "startDate": "07/24/2017 00:00PM",
    "endDate": "07/26/2017 23:59PM",
    "image": "https://www.gravatar.com/avatar/b47cf368d1e49ab0f7124944910c180e?s=256",
    "location": {
        "@type": "Place",
        "name": "Trinity College",
        "address": {
        	"postalCode": "CB2 1TQ",
      		"addressCountry": "GB"
        }
    }
}
</script>
{{/inline}}
{{#*inline "single_content"}}
<p>
    I have been invited to take part in the Cambridge 2 Cambridge (C2C) competition this year. This is a Cyber Security challenge hosted by the University of Cambridge and MIT.
</p>
<iframe width="560" height="450" src="https://www.youtube.com/embed/TKeixPta2vI" frameborder="0" allowfullscreen></iframe>
<h2>
    Quote from the official page
</h2>
<i>
<p>
    In 2015 the Massachusetts Institute of Technology (in Cambridge, Massachusetts) and the University of Cambridge (in Cambridge, UK), jointly launched “Cambridge 2 Cambridge”, a cybersecurity challenge. Announced in January 2015 by US President Barack Obama and UK Prime Minister David Cameron in the context of greater cybersecurity collaboration between the two countries, the competition gave the students the opportunity to explore creative ways to combat global cyber attacks and acquire and hone crucial skills. Held in March 2016, the inaugural event brought together top students from both universities at MIT’s Computer Science and Artificial Intelligence Lab (CSAIL) in Cambridge, MA. The top students earned glory, medals and a share of the $20,000 cash prizes. All gained a sense of accomplishment, mentorship from leading security organizations, and new friendships from across the pond.
</p>
<p>
    The second annual Cambridge 2 Cambridge competition will be held at the historic Trinity College on the University of Cambridge campus in the UK.  To expand on the success of the inaugural C2C, the team-based ‘capture-the-flag’ style hackathon is now open to additional universities in the US and UK. There will be an online qualifying round in March 2017. Faculty leads from MIT CSAIL and the University of Cambridge will then form blended teams from all universities based on the results of the qualifying round.
</p>
<p>
    Selected participants from the qualifying round will compete in the live three-day showdown with over 100 competitors from the US and UK. The event will take place at the 800-year-old University of Cambridge in Summer 2017.
</p>
</i>
<div class="mdl-cell mdl-cell--12-col">
<a href="https://cambridge2cambridge.csail.mit.edu/">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Official page
    </button>
</a>
<a href="https://twitter.com/c2ccyber?lang=en/">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Twitter page
    </button>
</a>
</div>
{{/inline}}
{{> layout/single
title_short = "C2C 2017"
title="C2C 2017 | James Tapsell"
description="Cambridge 2 Cambridge Cyber Security Challenge 2017"
url="https://www.jrtapsell.co.uk/c2c-2017.html"}}
