{{#*inline "single_content"}}
<p>
    I have been invited to take part in the Cambridge 2 Cambridge (C2C) competition this year. It is organised by University of Cambridge and MIT.
</p>
<a href="https://inter-ace.org/index.html">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Official Website
    </button>
</a>
<a href="https://cambridge2cambridge.csail.mit.edu/">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Official page
    </button>
</a>
<a href="https://twitter.com/c2ccyber?lang=en/">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Twitter page
    </button>
</a>
{{/inline}}
{{> layout/single
title_short = "C2C 2017"
title="C2C 2017 | James Tapsell"
description="Cambridge 2 Cambridge Cyber Security Challenge 2017"
url="https://www.jrtapsell.co.uk/c2c-2017.html"}}