{{#*inline "single_content"}}
<h3>
    18th March 2017
</h3>
<p>
On the 18th of March, 2017 the University of Cambridge organised a cyber security challenge, with competitors from univerites across the UK. I took part as
    part of the team <b>Buffer Underrun</b>. The final leaderboard has not been released, but when the leaderboard was hidden (1 hour before the end), we were in
    the top 10, despite being a team of 2 against teams of 4.
</p>
<p>
    The organisers created the following video after the event.
</p>
<iframe src="https://player.vimeo.com/video/211456053" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div class="mdl-cell mdl-cell--12-col">
<a href="https://inter-ace.org/index.html">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Official Website
    </button>
</a>
<a href="https://twitter.com/interacecyber">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Official Twitter
    </button>
</a>
<a href="https://www.forbes.com/sites/adigaskell/2017/03/21/interace-showcases-the-finest-cybersecurity-talent-in-the-uk">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Forbes Article
    </button>
</a>

</div>
{{/inline}}
{{> layout/single
    title_short = "InterACE 2017"
    title="InterACE 2017 | James Tapsell"
    description="InterACE Cyber Security Challenge 2017"
    url="https://www.jrtapsell.co.uk/interace-2017.html"}}