{{#*inline "single_content"}}
<h3>
    17-18th March 2018
</h3>
<p>
    I took part in the 2 day Inter-ACE competition, at Cambridge University.
</p>
<p>
    The contest was great, with a mix of various types of challenges, including web, crypto, reversing and network challenges.
</p>
<p>
    In the end we finished in 12th place, out of over 30 teams.
</p>

{{button_bar '[
        ["Official Site", "https://inter-ace.org/index.html"],
        ["Official Twitter", "https://twitter.com/interacecyber"],
        ["TheEngineer Article", "https://www.theengineer.co.uk/inter-ace-2018-cyber-security/"],
        ["Top 20 leaderboard", "https://inter-ace.org/inter-ace-2018-top-20"]
    ]'
}}
{{/inline}}
{{> layout/single
    title_short = "InterACE 2018"
    title="InterACE 2018 | James Tapsell"
    description="InterACE Cyber Security Challenge 2018"
    url="https://www.jrtapsell.co.uk/interace-2018.html"}}