{{#*inline "single_content"}}
<p>
    Events on this page are events I have attended which I have not created a page for.
</p>
{{#load_file "other-events.json"}}
    {{#each this}}
        <h2>{{name}}</h2>
        <h3>{{date}}</h3>
        {{description}}
    {{/each}}
{{/load_file}}
{{/inline}}
{{> layout/single
title_short = "Other Events"
title="Other Events | James Tapsell"
description="Other events I have attended"
url="https://www.jrtapsell.co.uk/other-events.html"}}
