{{#*inline "single_content"}}
    <h3>
        13th January 2018
    </h3>
    <p>
        I took part in the Royal Hackaway 2018 Hackathon (The theme was open data), hosted at Royal Holloway.
    </p>
    <p>
        As a team we made SongBird, a tool which uses the spotify API to display data on song popularity over time.
        This was built server side in Kotlin, with the front end made using Vue.js. This won the <em>Amazon Web Services - Best Use of AWS</em> prize.
    </p>



{{button_bar '[
    ["Song Bird", "https://mysongbird.xyz/"],
    ["Official Website", "https://royalhackaway.xyz/hackaway2018"],
    ["DevPost post", "https://devpost.com/software/songbird-trij8s"],
    ["Presentation", "https://www.overleaf.com/read/rbxsntcgkcwx#/50737089/"]
]'
}}

{{/inline}}
{{> layout/single
        title_short = "Royal Hackaway 2018"
        title="Royal Hackaway 2018 | James Tapsell"
        description="Royal Hackaway 2018 Hackathon"
        url="https://www.jrtapsell.co.uk/royalhackaway2018.html"}}