{{#*inline "single_content"}}
<p>
    In the summer of 2017 I took on a UROP. It focused on using a Blockchain to preserve and prevent tampering of
    data provenance logs.
</p>
<iframe src="https://docs.google.com/gview?url=https://www.jrtapsell.co.uk/urop_2017_p1.pdf&embedded=true" frameborder="0"></iframe>
<div class="mdl-cell mdl-cell--12-col">
    <a href="http://urop.cs.rhul.ac.uk/projects/185">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            UROP Page
        </button>
    </a>
    <a href="https://www.entity-provenance.com">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Project website
        </button>
    </a>
    <a href="/urop_2017_p1.pdf">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Poster
        </button>
    </a>
</div>
{{/inline}}
{{> layout/single title_short="Blockchain Data Provenance" title="Blockchain Data Provenance - UROP 2017 | James Tapsell" description="Undergraduate Research Project 2017 - Blockchain to provide Data Provenance Integrity and Privacy | James Tapsell"  url="https://www.jrtapsell.co.uk/urop-2017-bc.html"}}