{{#*inline "single_content"}}
<p>
    In the summer of 2017 I took on a UROP. It focused on using a Blockchain to preserve and prevent tampering of
    data provenance logs.
</p>
<p>
    For the ISG open day part of this was made into a poster, which won 3rd prize for best student poster. It embedded below,
    and a link is provided to the PDF.
</p>
{{pdf "https://www.jrtapsell.co.uk/urop_2017_p1.pdf"}}



{{button_bar '[
    ["UROP Page", "http://urop.cs.rhul.ac.uk/projects/185"],
    ["Project website", "https://www.entity-provenance.com"],
    ["Poster", "/urop_2017_p1.pdf"]
]'
}}
{{/inline}}
{{> layout/single title_short="Blockchain Data Provenance" title="Blockchain Data Provenance - UROP 2017 | James Tapsell" description="Undergraduate Research Project 2017 - Blockchain to provide Data Provenance Integrity and Privacy | James Tapsell"  url="https://www.jrtapsell.co.uk/urop-2017-bc.html"}}