.mdl-card__title {
    color: #fff;
    height: 10em;
}
.mdl-card__menu {
    color: #fff;
}
.card-title {
    background: rgba(0,0,0,0.6);
    padding: 0.2em;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        height: 56px;
        padding: 0 16px 0 16px;
    }
}
@media screen and (max-width: 350px) {
    a.mdl-navigation__link {
        font-size: 1em;
    }
}

@media screen and (min-width: 350px) {
    a.mdl-navigation__link {
        font-size: 1.3em;
    }
}

h2 {
    text-align: center;
    background: #ddd;
    font-size: 3em;
}
.mdl-card__title {
    background-size: contain;
}
.image-wrapper {
    padding: 1em;
}

.mdl-card__supporting-text {
    flex-grow: 1;
}

.mdl-card__actions {
    flex-grow: 0;
}

.page-content>h1 {
    background: #ddd;
    text-align: center;
}

.avatar {
    height: 80%;
    margin-right: 1em;
    border-radius: 40%;
}

.mdl-layout {
    min-height: 100vh;
}

.page-content.mdl-cell.mdl-cell--10-col {
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
    padding: 0 2%;
    min-width: 80vw;
}

.inline {
    display: inline-block;
}

.link-card {
    text-decoration: none;
}

.grouping {
    page-break-inside: avoid;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row .mdl-navigation__link {
        padding: 0 .5em;
    }
}

main.mdl-layout__content.mdl-grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background: #777d84;
}

.page-content > h3{
    text-align: center;
}
blockquote:before {
    content: "";
}


blockquote:after {
    content: "";
}

iframe {
    height: 64vh;
}


pre {
    overflow-x: scroll;
    max-width: 100vw;
}

@media print {
    a.profile[href]:after {
        content: attr(data-username);
    }
    a.profile {
        padding: 0.3em !important;
    }

    header.mdl-layout__header {
        background: transparent;
        color: black;
    }
    body {
        background: transparent;
    }

    .mdl-layout__header-row .mdl-navigation__link {
        color: black;
    }

    .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.link-card {
        page-break-inside: avoid;
    }
    * {-webkit-print-color-adjust:exact;}
    iframe { display: none; }

}

.button-bar {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.mdl-mini-footer--link-list a, .mdl-mini-footer__link-list a {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.mdl-mega-footer--heading, .mdl-mega-footer__heading {
    padding-right: 0;
}

.mdl-mega-footer__middle-section {
    display: flex;
    text-align: center;
}

.min-100 {
    min-width: 100px;
}

.triple-size {
    font-size: 3em;
}

.card-icon {
    text-align: center;
    width: 100%;
    font-size: 100px;
}

.button-link {
    flex-grow: 2;
    margin-bottom: 1em;
}

.button-body {
    width: 80%;
    margin-left: 10%;
}