.mdl-card__title {
    color: #fff;
    height: 10em;
}
.mdl-card__menu {
    color: #fff;
}
.card-title {
    background: rgba(0,0,0,0.6);
    padding: 0.2em;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        height: 56px;
        padding: 0 16px 0 16px;
    }
}
@media screen and (max-width: 350px) {
    a.mdl-navigation__link {
        font-size: 1em;
    }
}

@media screen and (min-width: 350px) {
    a.mdl-navigation__link {
        font-size: 1.3em;
    }
}

h2 {
    text-align: center;
    background: #ddd;
    font-size: 3em;
}
.mdl-card__title {
    background-size: contain;
}
.image-wrapper {
    padding: 1em;
}

.mdl-card__supporting-text {
    flex-grow: 1;
}

.mdl-card__actions {
    flex-grow: 0;
}

.page-content>h1 {
    background: #ddd;
    text-align: center;
}

.avatar {
    height: 80%;
    margin-right: 1em;
    border-radius: 40%;
}

.mdl-layout {
    min-height: 100vh;
}

.page-content.mdl-cell.mdl-cell--10-col {
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
    padding: 0 2%;
    min-width: 80vw;
}

.inline {
    display: inline-block;
}

.link-card {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row .mdl-navigation__link {
        padding: 0 .5em;
    }
}

main.mdl-layout__content.mdl-grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background: #777d84;
}

.page-content > h3{
    text-align: center;
}
blockquote:before {
    content: "";
}


blockquote:after {
    content: "";
}

iframe {
    height: 64vh;
}