.mdl-card__title {
    color: #fff;
    height: 10em;
}
.mdl-card__menu {
    color: #fff;
}
.card-title {
    background: rgba(0,0,0,0.6);
    padding: 0.2em;
}
h1 {
    text-align: center;
    background: #ddd;
    font-size: 3em;
}
.mdl-card__title {
    background-size: contain;
}
.image-wrapper {
    padding: 1em;
}

.mdl-card__supporting-text {
    flex-grow: 1;
}

.mdl-card__actions {
    flex-grow: 0;
}